@{
    ViewBag.Title = "LoginParty";
}
@model ViewModel.PartyLoginModel
<h2>LoginParty</h2>

@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>社团账号</td>
            <td>@Html.TextBoxFor(m => m.PartyName)</td>
        </tr>
        <tr>
            <td>社团密码</td>
            <td>@Html.TextBoxFor(m => m.Password)</td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">提交</button></td>
        </tr>
    </table>
}